{:common [:hello-world
          :values
          :variables
          :const
          :for
          :if-else
          :switch
          :array
          :vector

          :maps
          :range
          :functions
          :closures
          :recursion

          :record
          :methods
          :protocol
          :errors

          :random
          :collection-fn
          :digest
          :environment

          :string
          :string-formatting
          :regexp
          :file-read
          :command-line
          :notation
          :codec
          :signal
          :exit


          :sorting
          :thread
          :time
          :url-parsing
          ]

 :async [:basic
         :channel
         :channel-buffering
         :channel-directions
         :channel-synchronization
         :alts
         :timeout
         :timer
         :ticker
         :worker-pools]}
