html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    width: 900px;
    min-width: 900px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

div.main {
    max-width: 420px;
    min-width: 420px;
    width: 420px;
    margin-bottom: 120px;

    margin-left: auto;
    margin-left-value: auto;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;

    margin-right: auto;
    margin-right-value: auto;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    border: 0;
    outline: 0;
}

td.docs {
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    min-height: 5px;
    vertical-align: top;
    text-align: left;
}
td.docs p {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}
td.code {
    width: 480px;
    max-width: 480px;
    min-width: 480px;
    background: #f0f0f0;

}

td.code.leading {
    padding-bottom: 11px;
}

td.code.empty {
    background: #ffffff;
}
